<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HMF_KOMAI_CSHARP.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.8.3.0" newVersion="6.8.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <HMF_KOMAI_CSHARP.Properties.Settings>
      <setting name="AZURE_CLIENT_ID" serializeAs="String">
        <value>edd8facd-055c-4537-87db-f05d01f56b03</value>
      </setting>
      <setting name="AZURE_CLIENT_SECRET" serializeAs="String">
        <value>SzxqK/wlQKCG6VPUg7AlF+XNhFzoIzcqb/Cb8vy+buo</value>
      </setting>
    </HMF_KOMAI_CSHARP.Properties.Settings>
  </userSettings>
</configuration>